<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html
  class="no-js"
  lang="en"
  data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{
        site.description
      }}{% endif %}"
    />
    {%if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}" />
    {%endif %}
    <meta name="author" content="Nezu Mariko" />
    <meta name="copyright" content="MIT license" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{{
      "/css/foundation.css" | relative_url
    }}"> <link rel="stylesheet" href="{{
      "/css/font-awesome.css" | relative_url
    }}"> <link rel="stylesheet" href="{{
      "/css/coderay.css" | relative_url
    }}"> <link rel="stylesheet" href="{{
      "/css/asciidoctor.css" | relative_url
    }}"> <link rel="stylesheet" href="{{
      "/css/custom.css" | relative_url
    }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="/journal/js/vendor/modernizr.js"></script>
    <script src="/journal/js/toc.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-138747844-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-138747844-1");
    </script>
  </head>

  <body>
    <!-- Nav Bar -->

    <nav class="top-bar" data-topbar>
      {%- assign default_paths = site.pages | map: "path" -%} {%- assign
      page_paths = site.header_pages | default: default_paths -%} {%- assign
      titles_size = site.pages | map: 'title' | join: '' | size -%} {%- if
      titles_size > 0 -%}
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="{{ site.baseurl }}/">{{ site.title }}</a>
            </h1>
          </li>
          <!--
              <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
              </li>-->
        </ul>

        <div class="trigger">
          {%- for path in page_paths -%} {%- assign my_page = site.pages |
          where: "path", path | first -%} {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{
            my_page.title | escape
          }}</a>
          {%- endif -%} {%- endfor -%}
        </div>
      </nav>
      {%- endif -%}
    </nav>
    <!-- End Nav -->
    <!-- Main Page Content and Sidebar -->

    <div class="row">
      <!-- Main Blog Content -->
      <div class="large-9 columns" role="content">
        {{ content }}
      </div>

      <!-- End Main Content -->

      <!-- Sidebar -->

      <aside class="large-3 columns">
        <h4>Posts</h4>
        <ul id="posts" class="posts nav">
          {% for post in site.posts limit: 5 %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <!--
        <div class="panel">
            <h5>Featured</h5>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                nulla pork belly cupidatat meatloaf cow.</p>
        </div>
        -->
        <H4 class="icon-category">Categories</H4>
        <div id="category_list">
          {% for category in site.categories %}
          <a
            href="{{
              site.baseurl
            }}/category/index.html#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"
            >{{ category[0] }}</a
          >
          ({{ category[1].size }}) {% endfor %}
        </div>

        <h4 class="icon-tag">Tags</h4>
        <div id="tag-cloud">
          {{ site | tag_cloud }}
        </div>
      </aside>

      <!-- End Sidebar -->
    </div>

    <!-- End Main Content and Sidebar -->

    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-12 columns">
            <p>© 2018 Nezu Mariko</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute("data-useragent", navigator.userAgent);
    </script>
  </body>
</html>
